<div class="map" style="background-image: url('<%= @video.url %>')"></div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="video-show-card">
        <h1><%= @video.title %></h1>
        <%# <p class="video-show-address"><%= @video.address %></p> 
      </div>
    </div>

    <div class="col-4">
      <div class="video-show-card">
        <h3>Details</h3>
      </div>
      <div class="video-show-card">
        <div class="flex-align">
          <h6 class="no-mb">Share</h6>

          <div class="flex">
            <i class="fa fa-facebook-square fa-2x mr-2"></i>
            <i class="fa fa-twitter-square fa-2x mr-2"></i>
            <i class="fa fa-pinterest-square fa-2x mr-2"></i>
            <i class="fa fa-envelope-square fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
