

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="video-show-card">
        <span>
          <%= @tag.category %>
          <%= link_to tags_path(@tag), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="fas fa-times"></i>
          <% end %>
        </span>
        <p>Favorite :<%= @tag.favorite %><p>
      </div>
    </div>

  </div>
</div>
